@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // Razor Code
    ViewBag.Title = "Tyler Smith";
    ViewBag.Header = "Welcome to the Tyler Smith Page";
}

<body>
    <h1>@ViewBag.Header</h1>
    <img src="img/skiing.jpg" width="600" />
    <p>Skiing with my beautiful fiance, Sage Hassell.</p>
    <p>Note: No, we did not go down that run behind us... we're not really into starting avalances :)</p>

    <!-- Get out of IS -->
    <h3>What I hope to get out of IS 413</h3>
    <p>
        By the end of this semester, I hope to feel comfortable understanding, navigating, writing, and
        reading in the ASP.NET Core MVC framework. I also hope to strengthen my ability to learn
        something new and figure things out. A lot of what we learn in school is learning how to learn.
        During my internship this summer with Anglepoint, I will certainly be learning new tools, skills, and perhaps
        even programming languages. I want to provide as much value as I can to this company and the clients I will
        work with. Becoming familiar with ASP.NET Core MVC and learning how to learn will both prepare me for whatever
        career opportunities lie ahead.
    </p>

    <!-- Top 3 jobs -->
    <h3>Top 3 jobs after graduation</h3>
    <ul>
        <li>Consultant</li>
        <li>Project Manager</li>
        <li>Anddd a dad :)</li>
    </ul>

</body>